@page "/list"
@using Minecraft.Crafting.Models

<h1>@Localizer["Title"]</h1>

<div>
    <NavLink class="btn btn-primary" href="Add" Match="NavLinkMatch.All">
        <i class="fa fa-plus"></i> @Localizer["Add"]
    </NavLink>
</div>


<DataGrid TItem="Item"
        Data="@items"
        ReadData="@OnReadData"
        TotalItems="@totalItem"
        PageSize="10"
        ShowPager>
    <DataGridColumn TItem="Item" Field="@nameof(Item.Id)" Caption="#" />
    <DataGridColumn TItem="Item" Field="@nameof(Item.Id)" Caption="@Localizer["Image"]">
        <DisplayTemplate>
            @if (!string.IsNullOrWhiteSpace(context.ImageBase64))
            {
                <img src="data:image/png;base64, @(context.ImageBase64)" class="img-thumbnail" title="@context.DisplayName" alt="@context.DisplayName" style="min-width: 50px; max-width: 150px" />
            }
            else
            {
                <img src="images/default.png" class="img-thumbnail" title="@context.DisplayName" alt="@context.DisplayName" style="max-width: 150px"/>
            }
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="Item" Field="@nameof(Item.DisplayName)" Caption="@Localizer["DisplayName"]" />
    <DataGridColumn TItem="Item" Field="@nameof(Item.StackSize)" Caption="@Localizer["StackSize"]" />
    <DataGridColumn TItem="Item" Field="@nameof(Item.MaxDurability)" Caption="@Localizer["MaxDurability"]" />
    <DataGridColumn TItem="Item" Field="@nameof(Item.EnchantCategories)" Caption="@Localizer["EnchantCategories"]">
        <DisplayTemplate>
            @(string.Join(", ", ((Item)context).EnchantCategories))
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="Item" Field="@nameof(Item.RepairWith)" Caption="@Localizer["RepairWith"]">
        <DisplayTemplate>
            @(string.Join(", ", ((Item)context).RepairWith))
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="Item" Field="@nameof(Item.CreatedDate)" Caption="@Localizer["CreationDate"]" DisplayFormat="{0:d}" DisplayFormatProvider="@System.Globalization.CultureInfo.GetCultureInfo("fr-FR")" />
    <DataGridColumn TItem="Item" Field="@nameof(Item.Id)" Caption="@Localizer["Action"]">
        <DisplayTemplate>
            <a href="Edit/@(context.Id)" class="btn btn-primary"><i class="fa fa-edit"></i> @Localizer["Edit"]</a>
            <button type="button" class="btn btn-primary" @onclick="() => OnDelete(context.Id)"><i class="fa fa-trash"></i> @Localizer["Delete"]</button>
        </DisplayTemplate>
    </DataGridColumn>
</DataGrid>

