<div class="item"
     ondragover="event.preventDefault();"
     draggable="true"
     @ondragstart="@OnDragStart"
     @ondrop="@OnDrop"
     @ondragend="@OnDragEnd">

    @if (InventoryModel.ItemName != null)
    {
        @if(string.IsNullOrWhiteSpace(InventoryModel.ImageBase64)){
             <p class="itemInventoryName">@InventoryModel.ItemName</p>
        }
        else{
            <img src="data:image/png;base64, @(InventoryModel.ImageBase64)" class="img-thumbnail" title="@InventoryModel.ItemName" alt="@InventoryModel.ItemName" style="min-width: 40px; max-width: 50px" />
        }
       
        @if(InventoryModel.NumberItem > 0){
            <p class="itemInventoryNumber">@InventoryModel.NumberItem</p>
        }
    }
</div>